#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
}

.logo {
  width: 200px;
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 30px;
  margin-left: 20px;
  transition: transform 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
.navLink {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}
li {
  transition: transform 0.3s cubic-bezier(0.5, 0.4, 0.36, 1);
}
li:hover {
  transform: scale(1.1);
  animation: shadow-drop-top-bottom 0.9s linear both;
}

@keyframes shadow-drop-top-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 -12px 40px -12px rgba(255, 255, 255, 1),
      0 12px 40px -12px rgba(255, 255, 255, 1);
  }
}
