body {
  background-image: url("../assets/fondoCrearPeli.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#movieCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 60px;
  margin-right: 50px;
  padding: 80px;
  justify-items: center;
}
.containerCard {
  width: 300px;
  display: flex;
  flex-direction: row;
}
.cardMovie {
  width: 170px;
  height: auto;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.cardMovie > .poster {
  border-radius: 8px;
  width: 100%;
  height: 250px;
  box-shadow: 0px 0px 20px #9c9c9c;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.nameMovie {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  margin-top: 30px;
}

.imgNumber {
  position: relative;
  top: 150px;
  left: 30px;
  width: auto;
  height: 100px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cardMovie:hover {
  transform: scale(1.4);
  z-index: 1;
  opacity: 1;
}

.cardMovie:hover > .poster:hover {
  opacity: 1;
}
.cardMovie:hover {
  .imgNumber {
    opacity: 0;
  }
}
.error {
  width: 500px;
  height: auto;
  border-radius: 10px;
}
