body {
  background-image: url("../assets/fondoCrearPeli.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#movieCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 38px;
  padding: 100px;
  justify-items: center;
}
.containerCard {
  width: 400px;
}
.cardMovie {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.cardMovie > .poster {
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px #9c9c9c;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.nameMovie {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  margin-top: 30px;
}

.additionalImage {
  position: relative;
  bottom: 0;
  left: 50px;
  width: auto;
  height: 190px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cardMovie:hover .additionalImage {
  opacity: 0;
}
.cardMovie:hover .poster {
  opacity: 1;
}
.cardMovie:hover {
  transform: scale(1.7);
}
.error {
  width: 500px;
  height: auto;
  border-radius: 10px;
}
